.bs-scroll-x {
    height: 10px;
}

.bs-scroll-y {
    width: 10px;
}

.bs-scroll-x, .bs-scroll-y {
    display: none;
}

.bs-scroll-x > .bs-lift-x {
    height: 100%;
}

.bs-scroll-x > .bs-lift-x, .bs-scroll-y > .bs-lift-y {
    background: black;
    opacity: 0.6;
    border-radius: 4px;
}